<div class="container">
    <div class="login-form ">
        <form (ngSubmit)="save()">
            <h2 class="align-middle title">Player registration</h2>
            <div class="row d-flex">
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input class="form-control" [(ngModel)]="registeredUser.name" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Surname</label>
                    <input class="form-control" [(ngModel)]="registeredUser.surname" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Email</label>
                    <input class="form-control" [(ngModel)]="registeredUser.email" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Date of birth</label>
                    <input class="form-control" [(ngModel)]="registeredUser.birthday" type="date" />
                </div>
                <div class="form-group mb-3">
                    <label>JMBG</label>
                    <input class="form-control" [(ngModel)]="registeredUser.jmbg" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Phone number</label>
                    <input class="form-control" [(ngModel)]="registeredUser.phoneNumber" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>City</label>
                    <input class="form-control" [(ngModel)]="registeredUser.city" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Country</label>
                    <input class="form-control" [(ngModel)]="registeredUser.country" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Height</label>
                    <input class="form-control" [(ngModel)]="registeredUser.height" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Weight</label>
                    <input class="form-control" [(ngModel)]="registeredUser.weight" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Status</label>
                    <select [(ngModel)]="registeredUser.status">
                        <option value="ACTIVE">Active</option>
                        <option value="INACTIVE">Inactive</option>
                        <option value="INJURED">Injured</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label>Team</label>
                    <select class="form-control" [(ngModel)]="usersTeam">
                        <option *ngFor="let team of teams" [value]="team">{{ team.name }}</option>
                    </select>
                </div>
                <button color="primary" type="submit" class="btn btn-primary btn-block">Create account</button>
            </div>
        </form>
    </div>
</div>