.upper-wrapper {
    display: flex;
    flex-direction: row;

    .match-details {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 1rem;
        background-color: #FBF2F2;
        width: 40%;
    }
    
    .team-prefs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        flex-direction: row;
        width: 70%;
    
        .team-circle {
            display: flex;
            border: none;
            border-radius: 4rem;
            padding: 0.5rem;
            background-color: white;
            color: black;
            /* color: #1A1919; */
            justify-content: center;
            align-items: center;
        }
    }
    
    .team-names {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .location-date {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-top: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
    
    .warning-risk {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 3rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: #DF2D2D;
    }
    
    .referee-table {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 15rem;
        width: 60%;
        margin-left: 5rem;
        border: 1px solid black;
        border-radius: 1rem;

        .recommendation-card {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid black;
            /* border-radius: 1rem; */
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 0.5rem;
            background-color: #FBF2F2;

            .recommendation-name {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35%;
            }

            .recommendation-warning-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 35%;

                .warning-referee {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #DF2D2D;
                }
            }

            .recommendation-button-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;

                .delegate-button {
                    background-color: #3A86FF;
                    border: 1px solid black;
                    border-radius: 1rem;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                    color: white;
                }
            }
        }
    }
}

.down-wrapper {
    display: flex;
    flex-direction: row;
    
    .down-left-wrapper {
        display: flex;
        flex-direction: column;
        width: 40%;
        
        .recommendation-title {
            margin-top: 10rem;
        }

        .recommendation-wrapper {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 1rem;
            padding: 0.5rem;
            overflow-y: scroll;

            .recommendation-card {
                display: flex;
                flex-direction: row;
                border: 1px solid black;
                border-radius: 1rem;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                padding: 0.5rem;
                background-color: #FBF2F2;

                .recommendation-name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35%;
                }

                .recommendation-warning-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 35%;

                    .warning-referee {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #DF2D2D;
                    }
                }

                .recommendation-button-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30%;

                    .delegate-button {
                        background-color: #3A86FF;
                        border: 1px solid black;
                        border-radius: 1rem;
                        padding: 0.5rem 1rem 0.5rem 1rem;
                        color: white;
                    }
                }
            }
        }
    }

    .referee-team-wrapper {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 5rem;

        .referee-team-title {
            margin-top: 10rem;
            margin-left: 1rem;
        }

        .referee-team-part {
            display: flex;
            flex-direction: row;
            width: 100%;

            /* &:first {
                margin-bottom: 1rem;
            } */

            .recommendation-card {
                display: flex;
                flex-direction: row;
                border: 1px solid black;
                border-radius: 1rem;
                width: 45%;
                margin-left: auto;
                margin-right: auto;
                padding: 0.5rem;
                background-color: #FBF2F2;

                .recommendation-name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35%;
                }

                .recommendation-warning-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 35%;

                    .warning-referee {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #DF2D2D;
                    }
                }

                .recommendation-button-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30%;

                    .cancel-button {
                        background-color: #DF2D2D;
                        border: 1px solid black;
                        border-radius: 1rem;
                        padding: 0.5rem 1rem 0.5rem 1rem;
                        color: white;
                    }
                }
            }
        }
    }
}