.login-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: auto;
    height: 30rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
}

.button-login {
    width: 100%;
    color: red;
}
