<div class="container">
    
    <div class="title-wrapper">
        <h2 class="title" *ngIf="user.role == 'REFEREE'">MY CERTIFICATES</h2>
        <h2 class="title" *ngIf="user.role == 'LEAGUE_ADMIN'">CERTIFICATION REQUESTS</h2>
        <button class="set-referee" *ngIf="user.role == 'REFEREE'"  data-bs-toggle="modal" data-bs-target="#formModal">ADD</button>
    </div>
    <div class="match-card" *ngFor="let certificate of certificates">
        <div class="city-part">
            <div>CERTIFICATE NAME</div>
            <div>{{certificate.name}}</div>
        </div>
        <div class="city-part">
            <div>STATUS</div>
            <div>{{certificate.certificationStatus}}</div>
        </div>
        <div class="date-part">
            <div>DATE</div>
            <div>{{certificate.date}}</div>
        </div>
        <div class="button-part">
            <button type="button" class="btn set-referee" data-bs-target="#imageModal" data-bs-toggle="modal" 
                >VIEW</button>
            <button class="set-referee" *ngIf="user.role == 'LEAGUE_ADMIN' && certificate.certificationStatus == 'REQUESTED'" (click)="changeStatus(certificate.id, 'accept')">ACCEPT</button>
            <button class="reject-button" *ngIf="user.role == 'LEAGUE_ADMIN'  && certificate.certificationStatus == 'REQUESTED'" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="changeStatus(certificate.id, 'decline')">REJECT</button>
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center !important;">
          <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
        </div>
        <div class="modal-body">
          <input type="text" class="comment-input" style="width: 100%;"/>
        </div>
        <div class="modal-footer" style="justify-content: center !important;">
          <button type="button" class="btn set-referee">Submit</button>
          <button type="button" class="btn close" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center !important;">
          <h5 class="modal-title" id="exampleModalLabel">Certificate</h5>
        </div>
        <div class="modal-body">
          <img src="../../assets/Certification/mail.png" style="width: 30rem;">
        </div>
        <div class="modal-footer" style="justify-content: center !important;">
          <button type="button" class="btn close" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center !important;">
          <h5 class="modal-title" id="exampleModalLabel">NEW CERTIFICATE</h5>
        </div>
        <div class="modal-body">
          <div>
            <label>Certificate name:</label>
            <input type="text" class="comment-input" style="width: 100%;" [(ngModel)]="certificateName"/>
          </div>
          <div>
            <label>Certificate date:</label>
            <input type="date" class="comment-input" style="width: 100%;"/>
          </div>
          <div>
            <input type="file" class="file-input" (change)="fileSelected($event)"  #fileUpload>
            <div class="file-upload">

              {{ fileName || "No file uploaded yet."}}
           
               <button mat-mini-fab color="primary" class="upload-btn"
                 (click)="fileUpload.click()">Pick
               </button>
           </div>
          </div>
        </div>
        <div class="modal-footer" style="justify-content: center !important;">
          <button type="button" class="btn set-referee" (click)="addCertificate()" data-bs-dismiss="modal">Submit</button>
          <button type="button" class="btn close" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>