.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-bottom: 1rem;
}

.match-card {
    display: flex;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: #FBF2F2;
}

.teams-part {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.date-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.city-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.button-part {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 37%;
}

.set-referee {
    background-color: #3A86FF;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    width: 5rem;
    margin-right: 2rem;

}

.close {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    width: 5rem;
    margin-right: 2rem;
}

.reject-button {
    background-color: #f93434;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    width: 5rem;
}

.file-input {
    display: none;
  }