<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-0">
        <a class="navbar-brand ms-2 me-4" [routerLink]="['']">
            <img src="../../../../assets/Basketball_PNG.png" alt="Basketball icon" width="35" height="35">
            <span class="m-lg-2">Basketball league</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul *ngIf="user.role != 'LEAGUE_ADMIN'" class="navbar-nav">
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" [routerLink]="['gamecenter']"><i
                            class="bi bi-house-door"></i> Game center</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" [routerLink]="['standings']"><i
                            class="bi bi-house-door"></i> Standings</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" [routerLink]="['teams']"><i
                            class="bi bi-house-door"></i> Teams</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" [routerLink]="['players']"><i
                            class="bi bi-house-door"></i> Players</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" [routerLink]="['stats']"><i
                            class="bi bi-house-door"></i> Stats</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-clipboard2-pulse"></i> More
                    </a>
                    <ul class="dropdown-menu me-3">
                        <li><a class="dropdown-item" [routerLink]="['']">
                                <i class="bi bi-search"></i> Dodati sta treba, ako ne treba nista onda brisati
                                ovo</a></li>
                        <li><a *ngIf="user.role == 'PLAYER' || user.role == 'TEAM_MANAGER' || user.role == 'COACH'" class="dropdown-item" [routerLink]="['user-info']">
                                <i class="bi bi-search"></i> My profile</a></li>
                    </ul>
                </li>
            </ul>
            <ul *ngIf="user.role == 'LEAGUE_ADMIN'" class="navbar-nav">

                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-clipboard2-pulse"></i> Register
                    </a>
                    <ul class="dropdown-menu me-3">
                        <li><a class="dropdown-item" [routerLink]="['team-registration']">
                                <i class="bi bi-search"></i> Team
                            </a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['player-registration']">
                                <i class="bi bi-search"></i> Player
                            </a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['coach-registration']">
                            <i class="bi bi-search"></i> Coach
                            </a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['team-manager-registration']">
                                <i class="bi bi-search"></i> Team manager
                            </a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['referee-registration']">
                                <i class="bi bi-search"></i> Referee
                            </a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['recordkeeper-registration']">
                                <i class="bi bi-search"></i> Record keeper
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" [routerLink]="['schedule-management']"><i
                            class="bi bi-house-door"></i> Schedule management</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" [routerLink]="['league-rules']"><i
                            class="bi bi-house-door"></i> League rules</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" [routerLink]="['notifications']"><i
                            class="bi bi-house-door"></i> Notifications</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-clipboard2-pulse"></i> More
                    </a>
                    <ul class="dropdown-menu me-3">
                        <li><a class="dropdown-item" [routerLink]="['']">
                                <i class="bi bi-search"></i> Dodati sta treba, ako ne treba nista onda brisati
                                ovo</a></li>

                        <li><a class="dropdown-item" [routerLink]="['user-info']">
                                <i class="bi bi-search"></i> My profile</a></li>
                    </ul>
                </li>
            </ul>



            <!-- LOGIN / LOGOUT -->
            <ul class="navbar-nav ms-auto">


                <li class="nav-item" *ngIf="this.user.id == 0">
                    <a class="nav-link active" aria-current="page" [routerLink]="['login']">Login</a>
                </li>

                <li class="nav-item" *ngIf="this.user.id != 0">
                    <a class="nav-link active" aria-current="page" (click)="logout()">Logout</a>
                </li>

                <li class="nav-item dropdown" *ngIf="this.user.id != 0">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" [routerLink]="['user-info']">
                                <i class="bi bi-search"></i> My profile
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>