<div class="container">
    <div class="login-form ">
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <h2 class="align-middle title">Team registration</h2>
            <div class="row d-flex">
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input class="form-control" formControlName="name" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Email</label>
                    <input class="form-control" formControlName="email" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Address</label>
                    <input class="form-control" formControlName="address" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Phone number</label>
                    <input class="form-control" formControlName="phoneNumber" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>City</label>
                    <input class="form-control" formControlName="city" type="text" />
                </div>
                <div class="form-group mb-3">
                    <label>Country</label>
                    <input class="form-control" formControlName="country" type="text" />
                </div>
                <button color="primary" type="submit" class="btn btn-primary btn-block">Create account</button>
            </div>
        </form>
    </div>
</div>